DATABASE_URL=
POSTGRES_PASSWORD=
CELERY_DATABASE_URL=
REDIS_URL=
JWT_SECRET=
ALGORITHM=
JWT_EXPIRY_TIME=
FRONTEND_URL=
GROQ_API_KEY=
LLM_MODEL=
LLM_HISTORY_LIMIT=
LLM_TOP_K=
MAX_UPLOAD_SIZE=
SUMMARY_LIMIT=